:root,
[data-dx-theme='light'],
[data-dx-theme='dark'] {
  --dx-space-xs: 2px;
  --dx-space-m: 5px;
  --dx-space-l: 10px;
  --dx-space-xl: 16px;

  --dx-info-color: #4f83cc;
  --dx-warning-color: #fbc02d;
  --dx-error-color: #e53935;
  --dx-link-color: #4f83cc;
  --dx-link-hover-color: #4f83cc;

  --dx-breadcrumb-separator: '/';

  --dx-tag-bg: #222222;
  --dx-tag-text: #ffffff;
}
