:root,
[data-dx-theme='light'],
[data-dx-theme='dark'] {
  --dx-font-size: 14px;
  --dx-line-height: 1.4;
  --dx-font-color: #111111;
  --dx-document-background: #ffffff;

  --dx-component-font-size: 1rem;
  --dx-component-line-height: 1.2;

  --dx-space-xs: 2px;
  --dx-space-s: 5px;
  --dx-space-m: 8px;
  --dx-space-l: 12px;
  --dx-space-xl: 16px;

  --dx-transition: 0.5s;
  --dx-transition-faster: 0.25s;
  --dx-transition-fastest: 0.15s;
  --dx-transition-slower: 0.7s;
  --dx-transition-slowest: 0.85s;

  --dx-info-color: #808080;
  --dx-warning-color: #666666;
  --dx-error-color: #999999;
  --dx-link-color: #4f83cc;
  --dx-link-hover-color: #4f83cc;
  --dx-border-color: #cccccc;
  --dx-outline-color: rgba(102, 102, 102, 0.25);

  --dx-button-border-radius: 3px;
  --dx-button-bg: #333333;
  --dx-button-bg-hover: #1a1a1a;
  --dx-button-text: #ffffff;
  --dx-button-outline-bg: transparent;

  --dx-input-bg: transparent;
  --dx-input-border-radius: 3px;

  --dx-breadcrumb-separator: '/';

  --dx-checkbox-size: 1em;
  --dx-checkbox-border-radius: 3px;
  --dx-checkbox-img: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiPjxwb2x5bGluZSBwb2ludHM9IjIwIDYgOSAxNyA0IDEyIj48L3BvbHlsaW5lPjwvc3ZnPg==');

  --dx-message-border-radius: 3px;
  --dx-message-icon-size: 1.4em;
  --dx-message-info-icon: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiPiA8Y2lyY2xlIGN4PSIxMiIgY3k9IjEyIiByPSIxMCI+PC9jaXJjbGU+IDxsaW5lIHgxPSIxMiIgeTE9IjE2IiB4Mj0iMTIiIHkyPSIxMiI+PC9saW5lPiA8bGluZSB4MT0iMTIiIHkxPSI4IiB4Mj0iMTIuMDEiIHkyPSI4Ij48L2xpbmU+IDwvc3ZnPg==');
  --dx-message-warn-icon:  url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiPjxjaXJjbGUgY3g9IjEyIiBjeT0iMTIiIHI9IjEwIj48L2NpcmNsZT48bGluZSB4MT0iMTUiIHkxPSI5IiB4Mj0iOSIgeTI9IjE1Ij48L2xpbmU+PGxpbmUgeDE9IjkiIHkxPSI5IiB4Mj0iMTUiIHkyPSIxNSI+PC9saW5lPjwvc3ZnPg==');
  --dx-message-error-icon:  url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiPjxwYXRoIGQ9Ik0xMC4yOSAzLjg2TDEuODIgMThhMiAyIDAgMCAwIDEuNzEgM2gxNi45NGEyIDIgMCAwIDAgMS43MS0zTDEzLjcxIDMuODZhMiAyIDAgMCAwLTMuNDIgMHoiPjwvcGF0aD48bGluZSB4MT0iMTIiIHkxPSI5IiB4Mj0iMTIiIHkyPSIxMyI+PC9saW5lPjxsaW5lIHgxPSIxMiIgeTE9IjE3IiB4Mj0iMTIuMDEiIHkyPSIxNyI+PC9saW5lPjwvc3ZnPg==');

  --dx-tag-bg: #333333;
  --dx-tag-text: #ffffff;

  --dx-toggle-button-bg: #333333;
  --dx-toggle-button-bg-hover: #1a1a1a;
  --dx-toggle-width: 2.5rem;
  --dx-toggle-size: 1.5em;
  --dx-toggle-border-radius: 3rem;
}

[data-dx-theme='dark'] {
  --dx-font-color: #aaaaaa;
  --dx-document-background: #222222;

  --dx-border-color: #444444;
  
  --dx-button-outline-bg: transparent;

  --dx-toggle-button-bg: #aaaaaa;
  --dx-toggle-button-bg-hover: #ffffff;
}
