html {
  box-sizing: border-box;
  font-size: 16px;

  --header-bg-color: #eeeeee;
}

html[data-dx-theme="dark"] {
  --header-bg-color: #111111;
}

body {
  font-size: var(--dx-font-size);
  color: var(--dx-font-color);
  line-height: var(--dx-line-height);
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif;
  background-color: var(--dx-document-background);

  transition-property: background, color;
  transition-duration: .25s;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

section {
  margin-bottom: 3rem;
}

h1 {
  margin-bottom: 1.5rem;
  font-weight: 700;
}

h2 {
  margin-bottom: 1rem;
  font-weight: 700;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  padding: 8px 16px;
  margin-bottom: 16px;
  background-color: var(--header-bg-color);
  transition-property: background, color;
  transition-duration: .25s;
  z-index: 1001;
}

.header a {
  color: var(--dx-font-color);
  font-weight: 700;
  text-decoration: none;
}


.demo-container {
  max-width: 600px;
  margin: 0 auto;
  z-index: 1000;
}